.App {
  text-align: center;
  min-height: 100vh;
}

.home-head {
  background-color: #f2f2f2; /* Light grey background */
  padding: 20px; /* Spacing inside the box */
  border-radius: 15px; /* Rounded corners */
  text-align: center; /* Center-align the text */
  display: inline-block; /* Make the h1 width only as wide as its content */
  margin: 20px; /* Margin around the h1 for some spacing */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
